@model TrainingTrackerMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(m => m.Email, new { @class = "label" })

        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password, new { @class = "label" })

        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })

        @Html.PasswordFor(m => m.ConfirmPassword)

    </div>
    <div>
        @Html.LabelFor(m => m.FirstName, new { @class = "label" })

        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName, new { @class = "label" })

        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.Gender, new { @class = "label" })


        @Html.RadioButtonFor(m => m.Gender, 1) Male
        @Html.RadioButtonFor(m => m.Gender, 2) Female

    </div>
    <div>
        @Html.LabelFor(m => m.Dob, new { @class = "label" })


        @Html.EditorFor(m => m.Dob)
    </div>
    <div>
        <div id="login-button">
            <input type="submit" value="Register" class="button" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
