@model Models.Set
@{
    ViewBag.Title = "Set";
}

<h2>Set @Model.PositionInLog</h2>
<hr />

<a href="@Url.Action("ViewLog", "Log", new {  logId = Model.Log.Id  })" class="back-btn"><span>&#8592 Return to log</span></a>
<a href="@Url.Action("Index", "Exercise", new {  logId = Model.Log.Id  })" class="back-btn"><span>&#8592 Change Exercise</span></a>
@using (Html.BeginForm("Index", "Set", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Log.Id)
    @Html.HiddenFor(m => m.Exercise.Id)
    @Html.HiddenFor(m => m.PositionInLog)

    <hr />

    <h3>@Model.Exercise.Title</h3>

    @Html.LabelFor(m => m.Weight)
    @Html.EditorFor(m => m.Weight)

    @Html.LabelFor(m => m.Reps)
    @Html.EditorFor(m => m.Reps)

    <input type="submit" value="Add Set" class="button right-btn" />

    <hr />
}