<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Training Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="left-menu">
        <h3>Training Tracker</h3>
        <h4>@Session["UserName"]</h4>
    </div>
    <div id="container">
        @RenderBody()
    </div>
    <footer>
        <p>Cornforth Tech &copy; @DateTime.Now.Year - Training Tracker</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
