@model Models.Log

@{
    ViewBag.Title = "Index";
}

<h2>Logs</h2>

@Html.ActionLink("<- Back", "Index", new { userId = Model.PersonId })

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("AddLog", "Log", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="add-new-log">
        @Html.HiddenFor(m => m.PersonId)
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
    </div>

    <div>
        <input type="submit" value="Create New Log" />
    </div>
}