@model TrainingTrackerMVC.Models.LogViewModel
@{
    ViewBag.Title = "ViewLog";
}

@Html.HiddenFor(m => m.Log.Id)
<h2>@Model.Log.Title</h2>
<h3>@Model.Log.DateAdded</h3>

@Html.ActionLink("<- Back","ViewAllLogs", new { userId = Model.Log.PersonId })

<table>
    <tr>
        <th>
            #
        </th>
        <th>
            Exercise
        </th>
        <th>
            Weight
        </th>
        <th>
            Reps
        </th>
    </tr>
    @foreach (var set in Model.Sets)
    {
        <tr>
            <td>
                @set.PositionInLog
            </td>
            <td>
                @set.Exercise.Title
            </td>
            <td>
                @set.Weight
            </td>
            <td>
                @set.Reps
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSet", "Set", new  { exerciseId = set.Exercise.Id, logId = Model.Log.Id,
           weight = set.Weight, reps = set.Reps, positionInLog = set.PositionInLog}, new { })
            </td>
            <td>
                  @Html.ActionLink("Delete", "DeleteSet", "Set", new  { setId = set.Id }, new { })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Add Entry", "AddToLog", new { logId = Model.Log.Id })
