@model TrainingTrackerMVC.Models.ExerciseViewModel
@{
    ViewBag.Title = "Exercises";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddExercise", "Exercise", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Log.Id)
    @Html.LabelFor(m => m.ExerciseToAdd.Title)
    @Html.EditorFor(m => m.ExerciseToAdd.Title)
    <input type="submit" value="Go" />
}

@Html.HiddenFor(m => m.Log.Id)
<table>
    <tr>
        <th>
            Exercises
        </th>
    </tr>
    <tr>
        @foreach (var exercise in Model.AllExercises)
            {
            <td>
                @Html.ActionLink(exercise.Title, "GetExercise", new { exerciseId = exercise.Id, logId = Model.Log.Id })
            </td>
        }
    </tr>
</table>