@model TrainingTrackerMVC.Models.ExerciseViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Exercises</h2>

@using (Html.BeginForm("AddExercise", "Exercise", FormMethod.Post))
{
    @Html.HiddenFor(m => m.User.Id)
    @Html.LabelFor(m => m.ExerciseToAdd.Title)
    @Html.EditorFor(m => m.ExerciseToAdd.Title)
    <input type="submit" value="Go"/>
}
@using (Html.BeginForm("AddExercise", "Exercise", FormMethod.Post))
{
    @Html.HiddenFor(m => m.User.Id)
    <table>
        <tr>
            <th>
                Exercises
            </th>
        </tr>
        <tr>
            @foreach (var exercise in Model.AllExercises)
            {
                <td>
                    <input value="@exercise.Title" type="submit" />
                </td>
            }
        </tr>
    </table>
}